<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-statusbar-height" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>StatusBarHeight</name><js-module name="StatusBarHeight" src="www/StatusBarHeight.js"><clobbers target="cordova.plugins.StatusBarHeight" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="StatusBarHeight"><param name="android-package" value="org.apache.cordova.statusbarheight.StatusBarHeight" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml" /><source-file src="src/android/StatusBarHeight.java" target-dir="src/org/apache/cordova/statusbarheight" /></platform><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="StatusBarHeight"><param name="ios-package" value="StatusBarHeight" /></feature></config-file><source-file src="src/ios/StatusBarHeight.m" /></platform></plugin>